[Unit]
Description=X11VNC Service
After=graphical.target

[Service]
Type=simple
ExecStart=/usr/bin/x11vnc -rfbauth /etc/x11vnc/pass -forever -shared -display :0 -auth guess
Restart=always
User=pi

[Install]
WantedBy=graphical.target
